<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320233292561-n4r0t490u7vqnnu1lvf6t0cm70b91fth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320233292561-n4r0t490u7vqnnu1lvf6t0cm70b91fth</string>
	<key>API_KEY</key>
	<string>AIzaSyAJiIhJpL7_kgV_s92hDNVc25LIAJgsUCg</string>
	<key>GCM_SENDER_ID</key>
	<string>320233292561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kdfsdfl.342k-4323243324</string>
	<key>PROJECT_ID</key>
	<string>simple-firebase-crud-9fb2c</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-firebase-crud-9fb2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320233292561:ios:593a5622456cf3591282b0</string>
	<key>DATABASE_URL</key>
	<string>https://simple-firebase-crud-9fb2c-default-rtdb.firebaseio.com</string>
</dict>
</plist>